    frame_color = "#{{base0B-hex}}"
    separator_color = "#{{base05-hex}}"

[urgency_low]
    background = "#{{base01-hex}}"
    foreground = "#{{base03-hex}}"
    timeout = 10

[urgency_normal]
    background = "#{{base02-hex}}"
    foreground = "#{{base05-hex}}"
    timeout = 10

[urgency_critical]
    background = "#{{base08-hex}}"
    foreground = "#{{base06-hex}}"
    frame_color = "#{{base0A-hex}}"
    timeout = 10
