
# Spicetify ignores
.config/spicetify/Backup/
.config/spicetify/CustomApps/
.config/spicetify/Extensions/
.config/spicetify/Extracted/
.config/spicetify/Themes
.config/systemd/user/timers.target.wants/
