main_fg                               = {{base05-hex}}
secondary_fg                          = {{base0B-hex}}
main_bg                               = {{base01-hex}}
sidebar_and_player_bg                 = {{base00-hex}}
cover_overlay_and_shadow              = {{base03-hex}}
indicator_fg_and_button_bg            = {{base05-hex}}
pressing_fg                           = {{base05-hex}}
slider_bg                             = {{base00-hex}}
sidebar_indicator_and_hover_button_bg = {{base0B-hex}}
scrollbar_fg_and_selected_row_bg      = {{base05-hex}}
pressing_button_fg                    = {{base0A-hex}}
pressing_button_bg                    = {{base00-hex}}
selected_button                       = {{base00-hex}} 
miscellaneous_bg                      = {{base00-hex}}
miscellaneous_hover_bg                = {{base00-hex}}
