main_fg={{base05-hex}}
secondary_fg={{base0B-hex}}
main_bg={{base01-hex}}
borders={{base00-hex}}
sec_bg={{base02-hex}}
error={{base08-hex}}
select={{base04-hex}}
fail_main={{base0C-hex}}
fail_sec={{base0D-hex}}
